.btn,
.btn:visited {
  background-color: #303b59;
  color: aliceblue;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  border-color: transparent;
  height: 5.6rem;
  width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .btn:active {
    background: linear-gradient(to bottom, #6543fc, #302ceb);
  }
}

@media screen and (min-width: 769px) {
  .btn:hover {
    background: linear-gradient(to bottom, #6543fc, #302ceb);
  }
  .btn:active {
    transform: scale(0.98);
  }
}
