.main {
  gap: 2rem;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  color: white;
  padding: 2rem 5rem;
  border-radius: 0 0 3rem 3rem;
  background: linear-gradient(to bottom, #6643fd, #312ce8);
  height: 36rem;
}

.main > h2 {
  font-weight: 600;
  opacity: 0.64;
}

.score {
  display: flex;
  justify-content: center;
  width: 14rem;
  height: 14rem;
  clip-path: circle();
  background: linear-gradient(to bottom, #4a24cd, #4b37f0);
}

.userScore {
  font-size: 6rem;
  font-weight: 800;
}

.totalScore {
  font-size: 1.5rem;
  opacity: 0.5;
}

.result > h1 {
  margin: 1rem;
  font-weight: 500;
  opacity: 0.9;
}

.result > p {
  opacity: 0.6;
  font-size: 1.5rem;
}

@media screen and (min-width: 621px) {
  .main {
    gap: 3rem;
    height: 51rem;
    max-width: 37rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 4rem 5rem;
  }

  .score {
    width: 20rem;
    height: 20rem;
  }

  .result > p {
    font-size: 1.8rem;
  }
}
